*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Titillium Web', sans-serif;
    transition: all 0.5s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 85px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.sidebarTop {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sidebarTop div {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 42px;
    overflow: hidden;
    transition: 0.2s ease 0.1s;
}

.sidebarTop div img {
    object-fit: cover;
    width: 120px;
}

.sidebarTop p {
    font-size: 25px;
    font-weight: 700;
}

.sidebarMiddle {
    margin-top: 50px;
}

.sidebarMiddle div{
    margin: 10px ;
    padding: 20px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.sidebarMiddle div span {
    overflow: hidden;
    line-height: 1;
}

.sidebarMiddle div input {
    outline: none;
    width: 160px;
    height: 30px;
    border: none;
    font-size: 18px;
}

.sidebarMiddle div input::placeholder{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sidebarMiddle div i{
    font-size: 22px;
    margin-right: 10px;
}

#toggleMode {
    display: none;
}

.pageMode {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 80px 10px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.pageMode i {
    font-size: 18px;
    margin: auto 8px;
    z-index: 6;
}

.pageMode div {
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px 4px;
    z-index: 5;
    transition: 0.5s;
}

.darkcontant, .lightcontant {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 120px;
    transition: 0.5s;
}

.sidebarBottom {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 00px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.sidebarBottom img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 10px;
    object-fit: cover;
}

.sidebarBottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0;  
    left: 75px;  
    margin-left: 10px;
    line-height: 1;
    transition: 0.5s ease-out 0.09s;
    overflow: hidden;
    white-space: nowrap;
}

.sidebarBottom div h1{
    font-size: 20px;
}

.sidebarBottom div h2 {
    font-size: 17px;
}

